.report {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background:  url(../../assets/alien.jpg)  no-repeat;
    background-color: #000;
    width: 100vw;
    height: 100vh;

    h1 {
        text-align: center;
        color: #fff;
        line-height: 0;
    }
}

.report-form {
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
    select {
        background-color: #000;
        color: #fff;
        font-size: 18px;
        padding: 5px;
        border: 1px solid #fff;
        &:focus {
            outline: none;
        }
    }

    textarea {
        margin-top: 20px;
        height: 100px;
        border: 1px solid #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }
}

.submit-report {
    margin: 0 20px;
    background-color: #000;
    color: #fff;
    width: 265px;
    display: flex;
    align-self: center;
    border: 10px solid #fff;
    padding: 25px;
    font-size: 30px;
    cursor: pointer;
        &:focus {
            outline: none;
        }
        &:hover {
            color: darken(red, 30%);
            border: 10px solid darken(red, 30%);
        }

}
