<div class="check-in">
    <h1>Register</h1>
    <form class="checkin-form" name="checkinForm"  ng-class="{'invalid': validate}">
        <input type="text" placeholder="Name" ng-model="colonist.name" required/>
        <input type="number" placeholder="Age" ng-model="colonist.age" required/>
        <select name="jobs"  class="custom-select" id="jobs" ng-model="colonist.job_id" required>
            <option name="selectJob" value=""> Select a job </option>
            <option value="{{ job.id }}" ng-repeat="job in jobs">{{job.name}}</option>
        </select>
    </form>
    <button class="checkin-button" ng-click="login($event)">Check in</button>
</div>
